@font-face {
	font-family: 'Square Sans Pro Regular';
	src: url('../fonts/PFSquareSansPro-Regular.eot');
	src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFSquareSansPro-Regular.woff') format('woff'),
	url('../fonts/') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Square Sans Pro Medium';
	src: url('../fonts/PFSquareSansPro-Medium.eot');
	src: url('../fonts/PFSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFSquareSansPro-Medium.woff') format('woff'),
	url('../fonts/PFSquareSansPro-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Square Sans Pro Bold';
	src: url('../fonts/');
	src: url('../fonts/?#iefix') format('embedded-opentype'),
	url('../fonts/PFSquareSansPro-Bold.woff') format('woff'),
	url('../fonts/PFSquareSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}